.impacto-conteiner {
    padding: 5rem 1rem 5rem 1rem;
    background-color: var(--superf);
    border: 1px solid rgb(216, 207, 196);
}

.impacto-grid-conteiner {
    display: grid;
    margin: 0 auto;
    gap: 3rem;
    max-width: 64rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));;
}

.pretitle-impacto {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
    color: var(--color-princ);
}

.title-impacto {
    font-size: 3rem;
    color: var(--acents);
    margin-bottom: 1.5rem;
}

.parrafo-impacto {
    margin-top: .5rem;
    color: var(--texto);
    line-height: 1.6rem;
}

.img-impacto {
    width: 100%;
    height: 22.8rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0;
    display: block;
}

@media (max-width: 768px) {
    .impacto-grid-conteiner {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 2.5rem;
    }

    .title-impacto {
        font-size: 2.25rem;
    }

    .parrafo-impacto {
        margin-top: 1rem;
    }

    .parrafo-impacto + .parrafo-impacto {
        margin-top: 1.25rem;
    }
}

@media (max-width: 480px) {
    .impacto-conteiner {
        padding: 3rem 1rem;
    }

    .impacto-grid-conteiner {
        width: 100%;
    }

    .title-impacto {
        font-size: 1.75rem;
    }
}