{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}

{% block welcome-msg %}{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}" class="tea-mo-nav-link">Ir a la Web Principal</a>
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}" class="tea-mo-nav-link">Cambiar contraseña</a>
    {% endif %}
    <form id="logout-form" method="post" action="{% url 'admin:logout' %}" style="display:inline;">
    {% csrf_token %}
        <button type="submit" class="tea-mo-nav-link tea-mo-logout-btn">Cerrar sesión</button>
    </form>
{% endblock %}
